img {
    height: 400px;
}

.header_main {
    background-image: url("./tradellc_img/driedfruit.jpg");
    background-size: cover;
}

div.navbar .breadcrumb {
    background-color: #222222;
}

.header-main {
}

#main-breadcrumb {
    margin: 0px;
    padding: 0 0 3px 0;
}

