img {
    height: 400px;
}

.header_main {
    background-image: url("./tradellc_img/cover.jpg");
    height: 400px;
    background-size: cover;
    color: white;
}

div.navbar .breadcrumb {
    background-color: #222222;
}

.header-main {
}

#main-breadcrumb {
    margin: 0px;
    padding: 0 0 3px 0;
}

h8{
    font-size: 100pt;
}

.blackBack {
    background-color: black;
    background-size: cover;
    border-radius: 10px;
    opacity: .7;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

    .blackBack > div, .blackBack > div > button {
        opacity: 1;
        font-family: 'Monotype Corsiva';
    }
 
    textarea {
        max-width: 50% !important;
    }
    .jumbotron > div {
        color: black;
    }
