@{
    ViewBag.Title = "About";
}

<div class="jumbotron text-center header_main row">
    <div class="col-md-12">
        <h8>About</h8>
    </div>
</div>

<!-- these two divs look out of place, but they are necessary to make the header full screen -->
</div>
<div class="container body-content">
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<div class="jumbotron">
        <img style="display:block;margin:0 auto;" src="~/Content/tradellc_img/Bob_Paige.jpg" />
    <br />
    <p style="text-align: center">Trade was founded by Bob Baker. He owned & operated a walnut processing & brokering facility in Central California for 20+ years.

This well-deserved experience & industry insight led to the formation of Trade, a brokering firm of wholesale food commodities.

At Trade, we value honesty & integrity throughout the brokering process. We seek to be transparent & trustworthy in every relationship.</p>
</div>

