@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PO Box #4<br />
    Springville, UT 84663<br />
    <abbr title="Phone">P:</abbr>
    209.480.4644
</address>

<address>
    <a href="mailto:documents@trade-llc.com">Send us an email!</a>
</address>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <label class="control-label" for="inputName">Full Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Full Name">
    <br />
    <label class="control-label" for="inputPhone">Phone Number</label>
    <input type="number" class="form-control" id="inputEmail" placeholder="Phone Number">
    <br />
    <label class="control-label" for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    <br />
    <label class="control-label" for="inputSubject">Subject</label>
    <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
    <br />
    <label class="control-label" for="inputMessage">Message</label>
    <input type="text" class="form-control" id="inputMessage" placeholder="Message">
    <br />
    <button type="submit" class="btn btn-default">Submit</button>
}
