
@{
    ViewBag.Title = "Products";
}

<!-- these two divs look out of place, but they are necessary to make the header full screen -->
</div>
<div class="container body-content">
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<h2>Products</h2>

