@model IEnumerable<trade_llc_login.Models.ProductTypes>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center header_main row">
    <div class="col-md-12">
        <h8>Products</h8>
    </div>
</div>

<!-- these two divs look out of place, but they are necessary to make the header full screen -->
</div>
<div class="container body-content">
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<p>Select a product: 
    <div class="dropdown show">
    <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select an Option
        <span class="caret"></span>
    </a>


                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var item in Model)
                    {
                        @Html.DropDownListFor(modelItem => item.ProductType, new SelectList(item.ProductType))
                        @Html.DisplayFor(modelItem => item.ProductType)
                        <li>@Html.ActionLink(item.ProductType, item.ProductType, "Products", null, new { @class = "dropdown-item" })</li>
                    }

    </div>
    </div>
</p>
