
@{
    ViewBag.Title = "Miscellaneous";
}

<div class="jumbotron text-center header_main row">
    <div class="col-md-12">
        <h8>Miscellaneous</h8>
    </div>
</div>

<!-- these two divs look out of place, but they are necessary to make the header full screen -->
</div>
<div class="container body-content">
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="jumbotron row">
        <div class="col-md-6">
                    <h1>@ViewBag.ProductName</h1>
                    <ul>
                        <li>Location: @ViewBag.ProductLocation</li>
                        <li>Amount of Product for Sell: @ViewBag.ProductAmount</li>
                        <li>Price: @ViewBag.ProductPrice</li>
                    </ul>
        </div>
        <img class="col-md-6" style="display:block;margin:0 auto;" src=@ViewBag.ProductImage />
        <br />
    </div>

<div>
    <h1>Comment/Questions</h1>
    <div class="form-group">
        <div id="allComments"></div>
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" cols="500" id="comment"></textarea>
    </div>
    <p id="characterCount"></p>
    <br />
    <a class="btn btn-primary btn-large" onclick="SubmitStatus()">Submit</a>
</div>
